.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: var(--white);

  font-size: 1.2rem;
  cursor: pointer;
  font-size: 3rem;
  transition: color 0.3s ease;
}

.links .login {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.links button:hover {
  color: var(--green);
}
