.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  height: var(--nav-height);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-family: var(--font-pacifico);
}

.logo svg {
  font-size: 3.5rem;
  color: var(--green);
}
