.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.links button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black-light-light);
  color: var(--white);
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--black-light-light);
  box-shadow: var(--shadow);
}

.links button:hover {
  border: 1px solid var(--green);
}
