.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 40rem;
  background: var(--background-gradient);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  margin: 1rem;
}

.form h2 {
  font-size: 2rem;
  font-weight: 600;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup input {
  padding: 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--black-light-light);
  color: var(--white);
  transition: border 0.3s ease;
  border: 1px solid var(--black-light-light);
}

.formGroup input:focus {
  outline: none;
  border: 1px solid var(--green);
}

.form button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: none;
  color: var(--white);
  cursor: pointer;
  transition: border 0.3s ease;
  font-weight: 500;
  background: var(--black-light-light);
  border: 1px solid var(--black-light-light);
}

.form button:hover,
.form button:focus {
  outline: none;
  border: 1px solid var(--green);
}

.error {
  color: var(--red);
  font-size: 1.4rem;
  font-weight: 500;
}

.link {
  font-size: 1.4rem;
  font-weight: 500;
}

.link a {
  color: var(--green);
  cursor: pointer;
}

.link a:hover {
  text-decoration: underline;
}
